@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
body{
    background-color: rgba(26, 11, 46, 1);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
/* header section */ 

header{
    margin: 0 auto;
    max-width: 1600px;
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
   align-items: center;
}
nav ul{
    display: flex;
    gap: 32px;
}
nav ul li{
    list-style: none;
}
nav ul a{
    text-decoration: none; 
    color:rgba(255, 255, 255, 1);
}
header img{
    display: none;
}
.logo{
    font-size: 20px;
    font-style: bold;
}
.logo h1>span{
  background:  var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.logo h1{
    color: white;
}
.Menu{
    font-size: 1rem;
    font-weight: 500;
}
header button{
    padding: 12px 16px;
    border-radius: 10000px;
    font-size: 1rem;
    font-weight: 600;
    color:  rgba(255, 255, 255, 1);
    border: none;
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));;
}
/* hero-banner */
#hero{
    text-align: center;
    width: 100%;
    background-image: url(../images/hero-bg.png); 
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}
.banner .banner-img img{
    margin-top: 120px;
    background: url(../images/hero-circle.png);
    background-position: center;
    background-repeat: no-repeat;
    padding: 120px;
    position: relative;
}
.banner-img h4{
    font-size: 18px;
    padding: 8px 16px;
    background-color:rgba(0, 255, 136, 1) ;
    box-shadow: 0px 3px 27px 0px rgba(0, 255, 136, 0.5) ;
    border-radius: 1000px;
    position: absolute;
    right: 41%;
    top: 28%;
    animation: blink 1s infinite;
}
@keyframes blink {
  0%, 80%, 100% {
    opacity: 3;
  }
  20%, 25% {
    opacity: 0;
  }
}
.banner-title h1{
    color: rgba(255, 255, 255, 1);
    font-size: 60px;
    font-weight: 800;
    margin-bottom: 8px;
}
.banner-title p{
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
    font-weight: 400;
    margin-bottom: 24px;  
}
.banner-title .firstbtn{
    padding: 12px 20px;
    font-size: 16px;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));;
    border: none;
    border-radius: 10000px;
}
.banner-title .secondbtn{
    padding: 12px 20px;
    font-size: 16px;
    font-weight: 600;
    color: rgba(0, 255, 136, 1);
    text-align: center;
    border: 1px solid rgba(0, 255, 136, 1);
    border-radius: 10000px;
    background: transparent;
    margin-left: 10px;
}

/* About The podcast */
.podcast{
    margin: 0 auto;
    max-width: 1200px;
   text-align: center;
}
.about .description h1{
    font-size: 48px;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 16px;
}
.about .description p{
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    line-height: 30px;
    opacity: 0.8;
    margin-bottom: 80px;
}
.podcast hr{
    border: 1px solid rgba(255, 255, 255, 1);
    opacity: 0.1;
}

.about .about-rank{
    display: flex;
    justify-content: center;
    gap: 200px;
    margin-top: 80px;
   
}

.about .about-rank h1{
    color: #00FF88;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 16px;
}
.about .about-rank p{
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    opacity: 0.8;
    margin-bottom: 120px;
}
/* <!-- Why Chose TechWave */
.choose-techwave{
    padding-top: 50px;
    margin: 0 auto;;
    background: rgba(35, 14, 61, 1);
 
}
.choose-techwave .choose-head h1{
    margin-top:80px;
    text-align: center;
     font-size: 48px;
     font-weight: 700;
     color: rgba(255, 255, 255, 1);
     margin-bottom: 40px;
}
.choose-techwave .card{
    text-align: center;
    border: 2px solid green;
    min-height: 300px;
    display: grid;
    grid-template-columns: repeat(,1fr);
    grid-template-rows: repeat(2,200px);
}
.card .box-1{
    grid-row: 2/ span 2 ;
    border-radius: 40px;
    background: rgba(53, 17, 101, 0.4);
}

