@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
body{
    background-color: rgba(26, 11, 46, 1);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
/* header section */ 

header{
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
   align-items: center;
}
nav ul{
    display: flex;
    gap: 32px;
}
nav ul li{
    list-style: none;
}
nav ul a{
    text-decoration: none; 
    color:rgba(255, 255, 255, 1);
}
header img{
    display: none;
}
.logo{
    font-size: 20px;
    font-style: bold;
}
.logo h1>span{
  background:  var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.logo h1{
    color: white;
}
.Menu{
    font-size: 1rem;
    font-weight: 500;
}
header button{
    padding: 12px 16px;
    border-radius: 10000px;
    font-size: 1rem;
    font-weight: 600;
    color:  rgba(255, 255, 255, 1);
    border: none;
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));;
}
/* hero-banner */
#hero{
    width: 100%;
    text-align: center;
    background-image: url(../images/hero-bg.png); 
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}
.banner .banner-img img{
    margin-top: 120px;
    background: url(../images/hero-circle.png);
    background-position: center;
    background-repeat: no-repeat;
    padding: 120px;
    position: relative;
}

.banner-img h4{
    font-size: 18px;
    padding: 8px 16px;
    background-color:rgba(0, 255, 136, 1) ;
    box-shadow: 0px 3px 27px 0px rgba(0, 255, 136, 0.5) ;
    border-radius: 1000px;
    position: absolute;
    right: 41%;
    top: 28%;
    animation: blink 1s infinite;
}
@keyframes blink {
  0%, 80%, 100% {
    opacity: 3;
  }
  20%, 25% {
    opacity: 0;
  }
}
.banner-title h1{
    color: rgba(255, 255, 255, 1);
    font-size: 60px;
    font-weight: 800;
    margin-bottom: 8px;
}
.banner-title p{
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
    font-weight: 400;
    margin-bottom: 24px;  
}
.banner-title .firstbtn{
    padding: 12px 20px;
    font-size: 16px;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));;
    border: none;
    border-radius: 10000px;
}
.banner-title .secondbtn{
    padding: 12px 20px;
    font-size: 16px;
    font-weight: 600;
    color: rgba(0, 255, 136, 1);
    text-align: center;
    border: 1px solid rgba(0, 255, 136, 1);
    border-radius: 10000px;
    background: transparent;
    margin-left: 10px;
}

/* About The podcast */
.podcast{
    margin: 0 auto;
    max-width: 1200px;
   text-align: center;
}
.about .description h1{
    font-size: 48px;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 16px;
}
.about .description p{
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    line-height: 30px;
    opacity: 0.8;
    margin-bottom: 80px;
}
.podcast hr{
    border: 1px solid rgba(255, 255, 255, 1);
    opacity: 0.1;
}

.about .about-rank{
    display: flex;
    justify-content: center;
    gap: 200px;
    margin-top: 80px;
   
}

.about .about-rank h1{
    color: #00FF88;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 16px;
}
.about .about-rank p{
    font-size: 1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    opacity: 0.8;
    margin-bottom: 120px;
}
/* <!-- Why Chose TechWave */
.choose-techwave{
    padding-top: 50px;
    margin: 0 auto;
    background: rgba(35, 14, 61, 1);
    height: 1000px;

}
.choose-techwave .choose-head h1{
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 40px;
}
.choose-techwave .card{
    margin: 0 auto;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows:repeat(3,200px);
    gap: 50px;
    justify-content: center;
    
}
.choose-techwave .card .box-1{
    border-radius: 40px;
    background: rgba(53, 17, 101, 0.4);
    padding: 40px;
    width: 380px;
    height: 480px;
    padding: 100px 40px;
}

.choose-techwave .card .box-2{
    grid-column: 2/span 4;
     border-radius: 40px;
    background: rgba(53, 17, 101, 0.4);
    width: 790px;
    height: 225px;
    padding: 40px;
}
.choose-techwave .card .box-3{
    grid-column: 2/span 4;
    border-radius: 40px;
    background: rgba(53, 17, 101, 0.4);
    width: 790px;
    height: 225px;
    padding: 40px;
}
.choose-techwave .card .box-4{
    grid-column: 1/span 2;
    border-radius: 40px;
    background: rgba(53, 17, 101, 0.4);   
    padding: 40px; 
     width: 780px;
     height: 273px;
}
.choose-techwave .card .box-5{
    border-radius: 40px;
    background: rgba(53, 17, 101, 0.4);
    padding: 40px;
    height: 273px;
    width: 373px;
}
.card img{ 
    margin-bottom: 16px;
}
.card h3{
    color: rgba(255, 255, 255, 1);
    margin-bottom: 16px;
    font-size: 24px;
    font-weight: 700px;
}
.card p{
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 400px;
    opacity: 0.6;
}
/* feature-card */
.feature-card{
    margin: 0 auto;
}
.card .card-head h1{
    margin-top: 120px;
    margin-bottom: 40px;
    font-size: 48px;
    color: rgba(255, 255, 255, 1);
    font-weight: 700;
    text-align: center;
}
.feature-card .card .card-image{
    display: flex;
    gap: 30px; 
    justify-content: center;
    position: relative;

}

.card-image  iframe {
  border-radius: 24px 24px 0px 0px;
  width: 380px;
  height: 200px;
  align-items: center;
  margin-left: -30px;
  margin-top: -30px;
  margin-bottom: 20px;
}
.card-image .card-title-1,.card-title-2,.card-title-3{
    width: 380px;
    border-radius: 24px 24px 24px 24px;
    background: rgba(37, 13, 68, 1);
    padding: 30px;
}
.card-image h3{
    font-size: 24px;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 12px;
}
.card-image p{
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 12px;
}
.card-image{
    font-size: 16px;
    font-weight: 600;
    color: rgba(0, 255, 136, 1);
}
.card-title-1 .clock{
    display: flex;
    gap: 6px;
}
.card-title-2 .clock{
    display: flex;
    gap: 6px;
}
.card-title-3 .clock{
    display: flex;
    gap: 6px;
}
/* the host */
.meet-the-host{
    margin: 0 auto;
    max-width: 1200px;
    text-align: center;
    margin-top: 120px;
}
.host-head h1{
    font-size: 48px;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 40px;
}
.host-des{
    background:rgba(53, 17, 101, 0.4) ;
    display: flex;
    border-radius: 40px;
    padding: 40px;
    margin-bottom: 120px;
}
.host-des .host-description{
    text-align: left;
    margin: 20px;
}

.host-des .host-description .icon{
    display: flex;
    gap:20px;
    
}
.host-des .host-description .icon .icon1, .icon2, .icon3, .icon4{
    border: 1px solid gray;
    border-radius: 1000px;
    padding: 10px;
    width: 40px;
    height: 40px;
    margin-left: 12px;
}

.host-des .host-description h2{
    font-size: 32px;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 16px;
}
.host-des .host-description p{
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 18px;
    opacity: 0.6;
    line-height: 24px;
}
/* footer */
footer{
    background:rgba(53, 17, 101, 0.4) ;
    text-align: center;
    padding-top:100px;
    width: 100%;
     background-image: url(../images/footer-bg.png);
    background-repeat: no-repeat;
    background-position: center;
     background-size: cover;
    
}
footer .footer-head{
    font-size: 48px;
    color: rgba(255, 255, 255, 1);
   

}
.footer-head h1>span{
    background:  var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.footer-icon{
    display: flex;
    justify-content: center;
    gap:40px;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    margin-top: 34px;
}
.footer-icon .footer1{
    display: flex;
    gap: 10px;

}
.copyright{
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    opacity: 0.6;
    margin-top: 34px;
    padding-bottom: 120px;
}

/* responsive -mobile*/
@media screen and (max-width:576px) {
    header img{
    display: inline;
}
.Menu{
    display: none;
}
header button{
    display: none;
}
.banner-img h4{
    right: 18%;
    top: 22%
}
#hero{
    min-height: 50vh;
}
.banner .banner-img img{
    margin-top: 20px;
    padding: 160px;
}
#hero{
    background-image: url(../images/Image.png); 
    min-height: 100vh;
}
.podcast{
    padding: 40px 20px;
}
.about .about-rank{
    flex-direction: column;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;

    padding: 20px;
}
/* why choose Techwave */
.choose-techwave{
    height: 1500px;
    padding: 45px;
}
.choose-techwave .choose-head h1{
    font-size: 32px;
}

.choose-techwave .card{
    display: inline;
}
.choose-techwave .card .box-1{
    padding: 24px;
    width: 400px;
    height: 290px;
    margin-bottom: 16px;
}

.choose-techwave .card .box-2 {
    width: 400px;
    height: 215px;
    padding: 24px;
    margin-bottom: 16px;
}
.choose-techwave .card .box-3{
    width: 400px;
    height: 215px;
    padding: 24px;
    margin-bottom: 16px;
}
.choose-techwave .card .box-4{  
    width: 400px;
    height: 311px;
    padding: 30px;
    margin-bottom: 16px;
}
.choose-techwave .card .box-5{
    padding: 24px;
    width: 400px;
    height: 215px;
}

/* feature episodes */
.feature-card .card .card-image{
    flex-direction: column;
    gap: 20px; 
    padding: 55px;
}
.card .card-head h1{
    margin-top: 30px;
    margin-bottom: 0px;
    font-size: 32px;
}
/* meet the host */
.meet-the-host{
    margin-top: 60px;
    width: 400px;
}
.host-head h1{
    font-size: 32px;
}
.host-des .host-description{
    text-align: center;
}
.host-des{
    flex-direction: column;
}
.host-des .host-description h2{
    font-size: 28px;
}
/* footer */
footer{
    padding-top:40px;
    background-image: url(../images/sm-footer.png);
    
}
footer .footer-head{
    font-size: 32px; 
}
.footer-icon{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top:20px;
    gap: 20px;
    margin-left: 65px;
}
.footer-icon .footer1 h4{
    font-size: 16px;
}

}
